* {
    margin: 0;
   padding: 0;
  }
  /* ----------HEADER ---------*/
  .container {
  width: 1000px;
  display: flex;
  margin: auto; 
  background-image: url(../IMAGES/background.png);
  
  }
  .container .boximg {
  padding-bottom: 20px;
  display: flex;
  margin: auto;
  }
  
  .logo {
    padding-top: 30px;
    height: 35px;
    margin: auto;
    margin-left: -3%;
  }

  .header {
      width: 1000px;
      font-size: 1rem;
      font-weight: bold;
      padding-top: 30px;
  }
  .header ul li {
      display: inline;
      margin-right: 1.75rem;
  }
  .header a, .header a:visited, .header a:focus, .header a{
      text-decoration: none;
      color: #dbdbdb;
      font-family: bebas;
      font-size: 25px ;
  }
  .header {
    color: #e8663c;
    font-size: 1rem;
    font-weight: bold;
    text-align: right;
    max-width: 1000px;
    margin-right: -3%;
  }
    

  /* ----------TITLE ---------*/
.aboutus {
    background: url(../IMAGES/slider.png);
    height: 60px;
}

.abouts {
    max-width: 1000px;
    margin: auto;
    display: flex;
    width: 100%;
    height: 60px;
    margin: auto;
    display: flex;
    background-color: #e8663c;
    border-left: 11px solid #fff;
    border-right: 11px solid #fff;
}
.title {
    font-family: bebas;
    font-size: 1.9rem;
    color: #fff;
    margin:10px;
}



  /* ---------- ABOUT SECTION ---------*/
.contenttitle {
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}
.about {
    width: 350%;
    padding: 0px 30px 0px 0px;
}
.intro p {
    font-family: "helvetica";
    font-size: 0.83rem;
    line-height: 1.5em;
    color: black;
}
.shortcode {
    margin-top: 20px;
}

.mike {
    width: 250px;
    height: 250px;
    border: 2px solid#dbdbdb;
    box-sizing: border-box;
    padding: 3px 3px 3px 3px;
}
.imgfloat p {
    font-family: "helvetica";
    font-size: 0.83rem;
    line-height: 1.5em;
    color: black;
    margin-top: -260px;
    padding-left: 17.5rem;
}
.paragraph p {
    font-family: "helvetica";
    font-size: 0.83rem;
    line-height: 1.5em;
    color: black;
    margin-top: 50px;
}
.dropcaps .d {
    font-family: "helvetica";
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.5em;
    color: #e8663c;
    margin-top: 20px;
}
.dropcaps p {
    font-family: "helvetica";
    font-size: 0.83rem;
    line-height: 1.5em;
    color: black;
}
.quote p {
    font-family: "helvetica";
    font-size: 0.83rem;
    line-height: 1.5em;
    font-style: italic;
    color: black;
    margin-top: 20px;
    padding-left: 7.5rem;
}
.twocolumn {
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.twocolumn .a {
    font-family: "helvetica";
    font-size: 0.83rem;
    line-height: 1.5em;
    color: black;
    margin-top: 20px;
    padding-right: 20px;
}
.twocolumn .b {
    font-family: "helvetica";
    font-size: 0.83rem;
    line-height: 1.5em;
    color: black;
    margin-top: 20px;
    padding-left: 20px;
}
.threecolumn {
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.threecolumn p {
    font-family: "helvetica";
    font-size: 0.83rem;
    line-height: 1.5em;
    color: black;
    margin-top: 30px;
    padding: 0px;
}
.greenalert {
    width: 100%;
    border: 2px solid#98c601;
    box-sizing: border-box;
    padding: 3px 3px 3px 3px;
    background-color: #effeb9;
    margin-top: 30px;
}
.greenalert p {
    font-family: "helvetica";
    font-size: 0.83rem;
    line-height: 1.5em;
    color: #98c601;
    display: flex;
    font-weight: bold;
    justify-content: center;
    padding: 15px 0px 15px 0px;
    margin: auto;
}
.redalert {
    width: 100%;
    border: 2px solid #eb5439;
    box-sizing: border-box;
    padding: 3px 3px 3px 3px;
    background-color: #fbcbc1;
    margin-top: 20px;
}
.redalert p {
    font-family: "helvetica";
    font-size: 0.83rem;
    line-height: 1.5em;
    color: #eb5439;
    display: flex;
    font-weight: bold;
    justify-content: center;
    padding: 15px 0px 15px 0px;
    margin: auto;
}
.orangealert {
    width: 100%;
    border: 2px solid#fab418;
    box-sizing: border-box;
    padding: 3px 3px 3px 3px;
    background-color: #ffe9ad;
    margin-top: 20px;
}
.orangealert p {
    font-family: "helvetica";
    font-size: 0.83rem;
    line-height: 1.5em;
    color: #fab418;
    display: flex;
    font-weight: bold;
    justify-content: center;
    padding: 15px 0px 15px 0px;
    margin: auto;
}
.bluealert {
    width: 100%;
    border: 2px solid#4d8fcb;
    box-sizing: border-box;
    padding: 3px 3px 3px 3px;
    background-color: #d1e4f3;
    margin-top: 20px;
}
.bluealert p {
    font-family: "helvetica";
    font-size: 0.83rem;
    line-height: 1.5em;
    font-style: italic;
    color: #4d8fcb;
    display: flex;
    font-weight: bold;
    justify-content: center;
    padding: 15px 0px 15px 0px;
    margin: auto;
}


/* ---------- SIDEBAR ---------*/
 /* -- ABOUT --*/
 .titleabout {
  font-family: bebas;
  font-size: 1.2rem;
  color: #e8663c;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.sepabout{
  position: absolute;
  height: 3%;
  background: url(../IMAGES/header-lines.png) ;
  width: 125px;
  right: 173px;
}
.paragabout {
  font-family: "helvetica";
  font-size: 0.83rem;
  line-height: 1.5em;
  color: black;
}
 /* -- CATEGORIES --*/
.categories {
  margin-top: 20px;
}
.titlecategories {
  font-family: bebas;
  font-size: 1.2rem;
  color: #e8663c;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.sepcat{
  position: absolute;
  height: 3%;
  background: url(../IMAGES/header-lines.png) ;
  width: 125px;
  right: 173px;
}
.contcat {
  font-family: "helvetica";
  font-size: 0.83rem;
  line-height: 1.5em;
  color: black;
}
.contcat ul li {
  list-style: none;
}
 /* -- GALLERY --*/
.photogallery {
  margin-top: 20px;
}
.titlephoto {
  font-family: bebas;
  font-size: 1.2rem;
  color: #e8663c;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.sepphoto{
  position: absolute;
  height: 3%;
  background: url(../IMAGES/header-lines.png) ;
  width: 125px;
  right: 173px;
}
.image-wrapper {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 5px 5px;
}
.image-border {
  background-color: #f3af9d;
  border: 1px solid #e8603c;
  width: 50px;
  height: 50px;
}

  /* ----------FOOTER ---------*/
  
  footer {
    background: url(../IMAGES/footer-decoration.png);
  }
  .footers {
    margin: auto;
    display: flex;
    max-width: 1000px;
    background-color: #e8663c;
    border-left: 11px solid #fff;
    border-right: 11px solid #fff;
    margin-top: 50px;
   }
  .aboutjetro,  .contact  {
    border: 0px solid #ccc;
    box-sizing: border-box;
    width: 33.3%;
    padding: 35px;
  }
  .twitter {
    border: 0px solid #ccc;
    box-sizing: border-box;
    width: 33.3%;
    padding: 35px 35px 35px 35px;
  }

  /* ABOUT */
  .aboutjetro h3 {
    font-family: bebas;
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 20px;
  }
  .aboutjetro p {
    font-family: "helvetica";
    font-size: 0.78rem;
    line-height: 1.4em;
    color: #fff;
    /* TWITTER */
  }
  .twitter h3 {
    font-family: bebas;
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 20px;
  }
  .twitter p {
    font-family: "helvetica";
    font-size: 0.78rem;
    line-height: 1.5em;
    color: #fff;
  }
  .twitterpost {
    margin-bottom: 11px;
    color: #fff;
  }
  .twitterpost a, .twitterpost a:focus, .twitterpost a:visited, .twitterpost a:hover {
    color: #f3b29d;
    text-decoration: none;
  }
  .twitteruser {
    color: #f3b29d !important;
    text-decoration: none;
  }
  .twittertime {
    margin-bottom: 20px;
    color: #f3b29d !important;
  }
  .twitterfolow {
    margin-top: 5px;
    color: #fff;
  }
  .twitterfollow a, .twitterfollow a:focus, .twitterfollow a:visited, .twitterfollow a:hover {
    color: #f3b29d;
    text-decoration: none;
  }
  /* CONTACT */
  .contact h3 {
    font-family: bebas;
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 20px;
  }
  .contact p {
    font-family: "helvetica";
    font-size: 0.78rem;
    line-height: 1.5em;
    color: #fff;
  }
  /* ICON */
  .socialicon {
    margin-left: 0px;
    padding-top: 20px;
  }
  .socialicon li{
    display: inline;
  }




  
  @media screen and (max-width: 480px) {
    *{
      margin: 0;
      padding: 0;
    }
 
    .container {
      max-width: 480px;
      width: 100%;
      display: block;
    }
    .logo {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: auto;
    float: left;
    margin-left: 0;;
    }
    .header {
      max-width: 480px;
      width: 100%;
      padding: 0px;
    }
.header ul li {
  margin-right: 15px;
  display: inline;
 
}
.header ul {
  padding: 0px;
}
.abouts {
  max-width: 480px;
  width: 100%;
  border: 0;
}
.aboutus{
  position: relative;
  float: left;
  width: 100%;
  max-width: 480px;
  padding: 0;
  margin: 0;
}
 .about {
   max-width: 480px;
   width: 100%;
   padding: 0;
   
 }




 .contenttitle {
  display: block;
  max-width: 480px;
  padding: 0;
  margin-top: 50px;
}
.container .boximg {
  padding-bottom: 0px;
  display: flex;
  margin: auto;
}
.imgfloat {
  padding: 10px;
  margin: auto;
}
.imgfloat p {
  padding-left: 0;
  margin-top: 0;
}
.intro, p {
  padding: 0.9375rem;
  margin-top: 20px;
}
.shortcode {
  margin-top: 0;
}
.imgmike p {
  padding: 0.9375rem;
}
.shortcode, p {
  padding: 0.9375rem;
}
 
.sidebar {
  max-width: 480px;
  width: 100%;
  padding: 0.9375rem;
}
.sidebar, .aboutportfolio {
  padding: 0;
}
.aboutportfolio, p {
  padding: 0.9375rem;
}
.titleabout {
  margin-bottom: 0;
}
.titleabout, p{
  margin-top: 0;
}
.aboutportfolio, .paragabout {
  margin-top: 0;
}


.sidebar, .categories {
  padding: 0;
}
.categories {
  padding: 0.9375rem;
}
.titlecategories p{
  padding: 0.9375rem;
}
.titlecategories {
  margin-bottom: 0;
}
.titlecategories, p{
  margin-top: 0;
}
.categories, .contcat {
  margin-top: 0;
}
 ul {
  padding: 0.9375rem;
}


.photogallery {
  padding: 0.9375rem;
  margin-top: 0;
}
.titlephoto {
  margin-bottom: 0;
}

   footer {
     max-width: 480px;
     width: 100%;
   }
   .footers {
     display: block;
     padding: 0;
   }
   .aboutjetro,  .contact, .twitter {
     width: 100%;
   }

.twitter h3 {
  margin-bottom: 0;
}
.twitterpost {
  margin-bottom: 0;
}
.twittertime {
  margin-bottom: 0;
  padding: 0px 0px 0px 20px;
}

      }

     